.hero-proposal{
    padding-block: 50px;
}
.hero-proposal iframe{
    width: 100%;
    height: 800px;
}

.banner-bg{
    background: linear-gradient(0deg, rgba(5,5,5,1) 5%, rgba(5,5,5,0) 40%, rgba(5,5,5,0) 50%, rgba(5,5,5,0) 60%, rgba(5,5,5,1) 95%), url('../../assets/images/caseUseSlide/caseUseSlideImage2.jpg') center no-repeat;
}
.banner-content{
    padding-top: 250px;
    padding-bottom: 400px;
}
.banner-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    place-self: end;
}
.banner-content h1{
    max-width: 11ch;
    margin-bottom: 50px;
}

.sectionContainer{
    padding-block: 50px;
    display: flex;
    gap: 60px;
}
.sectionContainer h2{
    margin-bottom: 10px;
}
.sectionContainer p, .positiveImpactHeader{
    text-align: justify;
}

.problem-solution, .details{
   flex: 1;
   display: flex;
   flex-direction: column;
}
.problem-solution, .details, .solution, .proofConceptHeader{
    gap: 60px;
}
.solution{
    display: flex;
    flex-direction: column;
}
.solution-links p{
    font-weight: 700;
    margin-bottom: 5px;
}
.solution a{
    font-weight: 400;
    transition: 0.3s
}
.solution a:hover{
    color: #c9c9c9;
}

.details h3{
    margin-bottom: 5px;
}
.details p{
    margin-bottom: 5px;
}
.requestfund{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proposal-image-content, .useCasesContainer{
    display: flex;
    gap: 40px;
}
.proposal-image, .proposal-text,
.proofConcept-text, .proofConcept-image{
    flex: 1;
}
.proposal-image img, .proofConcept-image img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.proposal, .proofConcept, .positiveImpact, .ourTeam, .budgetAndCost, .proven{
    flex-direction: column;
}

.proofConceptHeader{
    display: flex;
}

.proofConcept-image img{
    height: 100%;
}

.proofConcept-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}
.proofConcept-gallery img{
    width: 100%;
    object-fit: cover;
}
.image-gallery4{
    place-self: end center;
}
.companys{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.voteForUs{
    padding-bottom: 120px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}
.voteForUs a{
    text-decoration: none;
    padding: 30px 200px;
    background: linear-gradient(95.46deg, #2266AF 0%, #42417F 50.53%, #BF8178 101.07%);
    border-radius: 22px;
    transition: .3s;
}
.voteForUs a:hover{
    filter: grayscale(0.2);
}

.ourTeam h2{
    text-align: center;
}
.teamContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.budgetAndCost img{
    width: 100%;
}

.provenBanner{
    background: linear-gradient(0deg, rgba(5,5,5,1) 5%, rgba(5,5,5,0) 40%, rgba(5,5,5,0) 50%, rgba(5,5,5,0) 60%, rgba(5,5,5,1) 95%), url('../../assets/images/caseUseSlide/caseUseSlideImage4.jpg') center no-repeat;
}
.provenBanner-content{
    padding-block: 120px;
}
.provenBanner h2{
    text-align: end;
    max-width: 15ch;
}
.provenContent{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

@media (max-width: 1100px){
    .hero-proposal iframe{
        height: 500px;
    }

    .sectionContainer{
        flex-direction: column;
        gap: 40px
    }
    .sectionContainer h2{
        text-align: center;
    }
    .problem-solution, .details, .solution{
        gap: 20px;
    }
  

    .proposal-image-content{
        flex-direction: column;
        gap: 20px;
    }
    .proposal-image img{
        max-height: 400px;
    }
    .proofConcept, .positiveImpact,  .provenContent{
        gap: 40px;
    }
    .companys{
        gap: 20px;
    }
    .proofConceptHeader, .useCasesContainer, .companys{
        flex-direction: column;
    }
    .proofConcept-image img{
        max-height: 400px;
        object-fit: cover center;
    }
    .proofConcept-gallery{
        gap: 0 20px;
    }

}

@media (max-width: 850px){
    
    .hero-proposal{
        padding-block: 25px;
    }
    .hero-proposal iframe{
        height: 300px;
    }

    .banner-bg{
        background: linear-gradient(0deg, rgba(5,5,5,1) 15%, rgba(5,5,5,0) 45%, rgba(5,5,5,0) 50%, rgba(5,5,5,0) 55%, rgba(5,5,5,1) 90%), url('../../assets/images/caseUseSlide/caseUseSlideImage2.jpg') no-repeat 13% 30%;
        background-size: 220%;
    }
    .banner-content{
        padding-top: 200px;
        padding-bottom: 300px;
    }
    .banner-text{
        place-self: center;
    }

    .petrobrasLogo{
        width: 250px;
    }
    .tapdanoLogo{
        width: 90px;
    }
    .cardanoLogo{
        width: 260px;
    }
    .voteForUs h2{
        text-align: start;
    }
    .voteForUs a{
        align-self: normal;
        text-align: center;
        padding: 30px 80px;
    }
}
@media (max-width: 650px){
    .banner-content{
        padding-top: 150px;
        padding-bottom: 250px;
    }

    .requestfund img{
        width: 40px;
    }    
}